*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    min-height: 100vh;
    background-image: url('hero.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}
.herodiv{
    max-width: 600px;
    max-height: 300px;
    width: 80vw;
    height: 50vh;
    background: white;
    text-align: center;
    padding: 4rem;
    border-radius: 5px;
}
h1{
    font-size: 50px;
}
.modal-btn{
    margin-top: 2rem;
    padding: 0.5rem;
    font-size: 20PX;
    text-transform: capitalize;
    border-radius: 15px;
    background: rgb(0, 157, 255);
    border-color: rgb(0, 157, 255);
    color: white;
}
.modal-btn:hover{
    background: transparent;
    border-color: rgb(0, 157, 255);
    color: rgb(0, 157, 255);
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(73, 166, 233, 0.5);
    display: grid;
    place-items: center;
    transition: all 0.3s linear;
    visibility: hidden;
    z-index: -10;
  }
  .open-modal{
    visibility: visible;
    z-index: 10;
  }
  .modaldiv{
    background: white;
    border-radius: 10px;
    width: 90vw;
    height: 30vh;
    max-width: 600px;
    text-align: center;
    display: grid;
    place-items: center;
    position: absolute;
    top: 35%;
  }
  h2{
    font-size: 40px;
  }
.close-btn{
    position: absolute;
    top: 3%;
    right: 2%;
    font-size: 30px;
    background: transparent;
    border: none;
    color: red;
    transition: all 0.3s linear;
}
.close-btn:hover{
    color: rgba(255, 0, 0, 0.358);
    transform: rotate(90deg);
}